name: {{ project_name }}

services:
  server:
    build:
      context: ../../
      dockerfile: ./infrastructure/dev/configurations/php/Dockerfile
    container_name: '{{ project_name }}_server'
    depends_on:
      - database
    volumes:
      - ../../app:/var/www/project
      - ../../tools:/var/www/tools

networks:
  default:
    name: {{ project_name }}_network
    external: true
