name: {{ project_name }}

services:
  proxy:
    image: nginx:alpine3.18
    container_name: '{{ project_name }}_proxy'
    ports:
      - target: 443
        published: {{ nginx_port }}
        protocol: tcp
    volumes:
      - ./configurations/nginx:/etc/nginx/conf.d
      - ./configurations/nginx/ssl:/etc/nginx/ssl
      - ../../app/public:/var/www/app/public
    depends_on:
      - server
      - database

networks:
  default:
    name: {{ project_name }}_network
