{% extends '@EasyAdmin/page/login.html.twig' %}

{% set username_label = 'Username' %}
{% set password_label = 'Password' %}
{% set sign_in_label = 'Sign in' %}

{% block page_title %}
    <div class="text-center mb-4">
        <h1 class="h3">Administration</h1>
    </div>
{% endblock %}
