{% extends 'base.html.twig' %}

{% block title 'Password reset' %}

{% block body %}
    {% if user is null %}
        Incorrect or expired token, please try resetting your password again.
    {% else %}
        <p>Password reset for {{ user.username }}</p>

        {{ form(form) }}
    {% endif %}
{% endblock %}
