parameters:
	level: 8
	paths:
		- ../app/src
		- ../app/tests
	bootstrapFiles:
		- ../app/vendor/autoload.php
	scanDirectories:
		- ../app/vendor
	ignoreErrors:
		-
			identifier: missingType.generics
