---
name: PHP CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - *

jobs:
  validate-codebase:
    name: Validate codebase
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4

      - name: Initialise repository
        uses: actions/checkout@v4

      - name: Validate composer.json and composer.lock (app)
        working-directory: app
        run: composer validate --strict

      - name: Audit dependencies (app)
        working-directory: app
        run: composer audit --no-dev --locked

      - name: Cache Composer packages (app)
        id: composer-cache-app
        uses: actions/cache@v3
        with:
          path: app/vendor
          key: ${{ runner.os }}-php-app-${{ hashFiles('app/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-app-

      - name: Install dependencies (app)
        working-directory: app
        run: composer install --prefer-dist --no-progress

      - name: Cache Composer packages (tools)
        id: composer-cache-tools
        uses: actions/cache@v3
        with:
          path: tools/vendor
          key: ${{ runner.os }}-php-tools-${{ hashFiles('tools/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-tools-

      - name: Install dependencies (tools)
        working-directory: tools
        run: composer install --prefer-dist --no-progress

      - name: Run PHPStan
        working-directory: tools
        run: php vendor/bin/phpstan --memory-limit=-1

      - name: Run PHP CS Fixer
        working-directory: tools
        run: PHP_CS_FIXER_IGNORE_ENV=1 php vendor/bin/php-cs-fixer check

      - name: Check Doctrine / DB scheme
        working-directory: app
        run: php bin/console doctrine:schema:validate -v --skip-sync

      - name: Run PHPUnit
        working-directory: app
        run: php vendor/bin/phpunit
